# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Specific files in "ml_algorithm"
supervised_learning/linear_regression/lab_utils_common.py
supervised_learning/linear_regression/lab_utils_uni.py
supervised_learning/linear_regression/deeplearning.mplstyle
supervised_learning/linear_regression/lab_utils_multi.py