# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Specific files in "ml_algorithm"
ml_algorithm/lab_utils_uni.py
ml_algorithm/lab_utils_common.py
ml_algorithm/deeplearning.mplstyle